.trackListWrap{
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.2);

}
.tracklistTable{
    width: 100%;
    border-collapse: collapse;
}
.trackListTableHead{
    font-size: 30px;
    background-color: #111b1e;
}
.trackListTableHead th{
    padding-left: 40px;
    border-bottom: 2px solid white;
    color: white;
}
  
.tracklistTable tr{
    border-bottom: 1px solid grey;
    color: lightgrey
}
.trackListTableBody{
    background-color: #1b2427c7;
}
.optionColumnHdr{
    width: 50px;
}

.trackListTableBody tr {
    padding-top: 3px;
    padding-top: 3px;
}
.trackListTableBody tr:hover {
    background-color: #364449c7;
}

  
.tracklistTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
.emptyPlayList{
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 30px;
}