.trackListWrap{
    width: 100%;
    margin: auto;
    text-align: left;

}
.tracklistTable{
    width: 100%;
    border-collapse: collapse;
    color: white;
}
.trackListTableHead{
    font-size: 30px;
    background-color: #2f4c58;
}
.trackListTableHead th{
    padding-left: 40px;
}
  
.tracklistTable tr{
    border-bottom: 2px solid white;

}
.trackListTableBody{

}
.trackListTableBody td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    font-size: 20px;
}
.trackListTableBody tr {
    padding-top: 5px;
    padding-top: 5px;
}
.trackListTableBody tr:hover {
    background-color: rgb(47, 109, 160);
}

  
.tracklistTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;

}