.playerControlsWrap{
    width: 100%;
    justify-content: center;
    vertical-align: top;
    margin-top: 2%;
    height: 120px;
    background-color: #111b1e;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.2);
    opacity: .98;
    animation-name: transitionUntoScreen;
    animation-duration: 1s;
}

@keyframes transitionUntoScreen {
    from {height: 0px;}
    to {height: 120px;}
  }
.songInfoWrap{
    margin-left: 1%;
    margin-right: auto;
}
.songTitle{
    font-weight: bold;
}

.songNavigation{
    margin: auto;
}

.songVolumeWrap{
    margin: auto;
}
.songQueue{
    margin: auto;
}

.ControlsPod{
    display: inline-flex;
    width: 100%;
}
.songPositionBar{
    width: 100%;
    background: #26a365; /* Green background */
    height: 7px;
    top: -8px;
    position: relative;
    left: -1px;
}
.songPositionBar:hover{
    height: 9px;
}

.songPositionBar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #1eb3b6; 
    appearance: none;
    cursor: pointer; /* Cursor on hover */
}
.songVolume{
    background: #26a365;
    height: 5px;
}
  
.songPositionBar::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #43c1c4; 
    appearance: none;
    cursor: pointer; /* Cursor on hover */
    border-radius: 95%;
    border: 1px solid #3a5d68;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);

}
.songVolume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #1eb3b6; 
    appearance: none;
    cursor: pointer; /* Cursor on hover */

}
.songVolume::-moz-range-thumb{
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #1eb3b6; 
    appearance: none;
    cursor: pointer; /* Cursor on hover */
    border: 2px solid #3a5d68;
    border-radius: 95%;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);

}
.songNavigation{
    display: inline-flex;
    vertical-align: middle;
}
.prevButton{
    margin-top: auto;
    margin-bottom: auto;
}
.nextButton{
    margin-top: auto;
    margin-bottom: auto;
}