.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: auto;
  background-color:#111b1e;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-options{
  display: inline-flex;
  width: 100%;
}

.nav-link {
  color: #f2f2f2;
  background-color: #111b1e;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}
.nav-link:hover {
  background-color: #008183;
}


.nav-middle {
  margin: auto;
  margin-left: 20%;
}